# Variable Types
Variables are nothing but reserved memory locations to store values. This means that when you create a variable you reserve some space in memory.

Based on the data type of a variable, the interpreter allocates memory and decides what can be stored in the reserved memory. Therefore, by assigning different data types to variables, you can store integers, decimals or characters in these variables.

## Assigning Values to Variables

Python variables do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable. The equal sign (=) is used to assign values to variables.

The operand to the left of the = operator is the name of the variable and the operand to the right of the = operator is the value stored in the variable. For example −

In [3]:
counter = 100          # An integer assignment
miles   = 1000.0       # A floating point
name    = "John"       # A string

Here, 100, 1000.0 and "John" are the values assigned to counter, miles, and name variables, respectively. This produces the following result −

In [5]:
print(counter)
print(miles)
print(name)

100
1000.0
John

## Multiple Assignment
Python allows you to assign a single value to several variables simultaneously. For example −

In [7]:
a = b = c = 1

Here, an integer object is created with the value 1, and all three variables are assigned to the same memory location.

In [10]:
print(a)
print(b)
print(c)

1
2
john

You can also assign multiple objects to multiple variables. For example −

In [11]:
a,b,c = 1,2,"john"

Here, two integer objects with values 1 and 2 are assigned to variables a and b respectively, and one string object with the value "john" is assigned to the variable c.

In [13]:
print(a)
print(b)
print(c)

1
2
john

## Standard Data Types
The data stored in memory can be of many types. For example, a person's age is stored as a numeric value and his or her address is stored as alphanumeric characters. Python has various standard data types that are used to define the operations possible on them and the storage method for each of them.

Python has five standard data types −

* Numbers
* String
* List
* Tuple
* Dictionary

## Python Numbers
Number data types store numeric values. Number objects are created when you assign a value to them. For example −

In [23]:
var1 = 1
var2 = 10
var3 = 20

You can also delete the reference to a number object by using the del statement. The syntax of the del statement is −
```
del var1[,var2[,var3[....,varN]]]]
```

You can delete a single object or multiple objects by using the del statement. For example −

In [24]:
del var1
del var2, var3

In [26]:
print(var1), print(var2), print(var3)

NameError: name 'var1' is not defined

Python supports three different numerical types −

* int (signed integers)
* float (floating point real values)
* complex (complex numbers)

### Examples
Here are some examples of numbers −

<table class="table table-bordered" style="text-align:center;">
<tbody><tr>
<th style="text-align:center;">int</th>
<th style="text-align:center;">float</th>
<th style="text-align:center;">complex</th>
</tr>
<tr>
<td>10</td>
<td>0.0</td>
<td>3.14j</td>
</tr>
<tr>
<td>100</td>
<td>15.20</td>
<td>45.j</td>
</tr>
<tr>
<td>-786</td>
<td>-21.9</td>
<td>9.322e-36j</td>
</tr>
<tr>
<td>080</td>
<td>32.3+e18</td>
<td>.876j</td>
</tr>
<tr>
<td>-0490</td>
<td>-90.</td>
<td>-.6545+0J</td>
</tr>
<tr>
<td>-0x260</td>
<td>-32.54e100</td>
<td>3e+26J</td>
</tr>
<tr>
<td>0x69</td>
<td>70.2-E12</td>
<td>4.53e-7j</td>
</tr>
</tbody></table>


* A complex number consists of an ordered pair of real floating-point numbers denoted by x + yj, where x and y are the real numbers and j is the imaginary unit.

## Python Strings
Strings in Python are identified as a contiguous set of characters represented in the quotation marks. Python allows for either pairs of single or double quotes. Subsets of strings can be taken using the slice operator ([ ] and [:] ) with indexes starting at 0 in the beginning of the string and working their way from -1 at the end.

The plus (+) sign is the string concatenation operator and the asterisk (*) is the repetition operator. For example −

In [42]:
str = 'Hello World!'

Prints complete string

In [43]:
print(str)

Hello World!

Prints first character of the string

In [44]:
print(str[0])

H

Prints characters starting from 3rd to 5th

In [45]:
print(str[2:5])

llo

Prints string starting from 3rd character

In [46]:
print(str[2:])

llo World!

Prints string two times

In [47]:
print(str * 2)

Hello World!Hello World!

Prints concatenated string

In [48]:
print(str + "TEST")

Hello World!TEST

## Python Lists
Lists are the most versatile of Python's compound data types. A list contains items separated by commas and enclosed within square brackets ([]). To some extent, lists are similar to arrays in C. One difference between them is that all the items belonging to a list can be of different data type.

The values stored in a list can be accessed using the slice operator ([ ] and [:]) with indexes starting at 0 in the beginning of the list and working their way to end -1. The plus (+) sign is the list concatenation operator, and the asterisk (*) is the repetition operator. For example −

In [50]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

Prints complete list

In [51]:
print(list)

['abcd', 786, 2.23, 'john', 70.2]

Prints first element of the list

In [53]:
print(list[0])

abcd

Prints elements starting from 2nd till 3rd

In [54]:
print(list[1:3])

[786, 2.23]

Prints elements starting from 3rd element

In [56]:
print(list[2:])

[2.23, 'john', 70.2]

Prints list two times

In [57]:
print(tinylist * 2)

[123, 'john', 123, 'john']

 Prints concatenated lists

In [58]:
print(list + tinylist)

['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

## Python Tuples
A tuple is another sequence data type that is similar to the list. A tuple consists of a number of values separated by commas. Unlike lists, however, tuples are enclosed within parentheses.

The main differences between lists and tuples are: Lists are enclosed in brackets ( [ ] ) and their elements and size can be changed, while tuples are enclosed in parentheses ( ( ) ) and cannot be updated. Tuples can be thought of as __read-only__ lists. For example −

In [61]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')

Prints complete list

In [62]:
print(tuple)

('abcd', 786, 2.23, 'john', 70.2)

Prints first element of the list

In [67]:
print(tuple[0])

abcd

Prints elements starting from 2nd till 3rd

In [66]:
print(tuple[1:3])

(786, 2.23)

Prints elements starting from 3rd element

In [65]:
print(tuple[2:])

(2.23, 'john', 70.2)

Prints list two times

In [64]:
print(tinytuple * 2)

(123, 'john', 123, 'john')

 Prints concatenated lists

In [63]:
print(tuple + tinytuple)

('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

The following code is invalid with tuple, because we attempted to update a tuple, which is not allowed.

In [71]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tuple[2] = 1000    # Invalid syntax with tuple

TypeError: 'tuple' object does not support item assignment

 Similar case is possible with lists −

In [72]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2  ]
list[2] = 1000     # Valid syntax with list

## Python Dictionary
Python's dictionaries are kind of hash table type. They work like associative arrays or hashes found in Perl and consist of key-value pairs. A dictionary key can be almost any Python type, but are usually numbers or strings. Values, on the other hand, can be any arbitrary Python object.

Dictionaries are enclosed by curly braces ({ }) and values can be assigned and accessed using square braces ([]). For example −

This is an empty dictionary.

In [104]:
dict = {}

In [105]:
print(dict)

{}

Assign a key/value to dictionary.

In [106]:
dict['dog'] = "I don't like dogs"

In [107]:
print(dict)

{'dog': "I don't like dogs"}

Assign a second key/value to dictionary.

In [108]:
dict['cat']     = "I like cats"

In [109]:
print(dict)

{'dog': "I don't like dogs", 'cat': 'I like cats'}

Predefine entire dictionary.

In [112]:
tinydict = {'name': 'john','code':6734, 'dept': 'sales'}

Prints complete dictionary

In [113]:
print(tinydict)

{'name': 'john', 'code': 6734, 'dept': 'sales'}

Prints all the keys

In [115]:
print(tinydict.keys())

dict_keys(['name', 'code', 'dept'])

Prints all the values

In [116]:
print(tinydict.values())

dict_values(['john', 6734, 'sales'])

Dictionaries have no concept of order among elements. It is incorrect to say that the elements are "out of order"; they are simply unordered.

## Data Type Conversion
Sometimes, you may need to perform conversions between the built-in types. To convert between types, you simply use the type name as a function.

There are several built-in functions to perform conversion from one data type to another. These functions return a new object representing the converted value.

<table class="table table-bordered">
<tbody><tr>
<th style="text-align:left;">Sr.No.</th>
<th style="text-align:center;">Function &amp; Description</th>
</tr>
<tr>
<td class="ts">1</td>
<td><p><b>int(x [,base])</b></p>
<p>Converts x to an integer. base specifies the base if x is a string.</p>
</td>
</tr>
<tr>
<td class="ts">3</td>
<td>
<p><b>float(x)</b></p>
<p>Converts x to a floating-point number.</p>
</td>
</tr>
<tr>
<td class="ts">4</td>
<td>
<p><b>complex(real [,imag])</b></p>
<p>Creates a complex number.</p>
</td>
</tr>
<tr>
<td class="ts">5</td>
<td>
<p><b>str(x)</b></p>
<p>Converts object x to a string representation.</p>
</td>
</tr>
<tr>
<td class="ts">6</td>
<td>
<p><b>repr(x)</b></p>
<p>Converts object x to an expression string.</p>
</td>
</tr>
<tr>
<td class="ts">7</td>
<td>
<p><b>eval(str)</b></p>
<p>Evaluates a string and returns an object.</p>
</td>
</tr>
<tr>
<td class="ts">8</td>
<td>
<p><b>tuple(s)</b></p>
<p>Converts s to a tuple.</p>
</td>
</tr>
<tr>
<td class="ts">9</td>
<td>
<p><b>list(s)</b></p>
<p>Converts s to a list.</p>
</td>
</tr>
<tr>
<td class="ts">10</td>
<td>
<p><b>set(s)</b></p>
<p>Converts s to a set.</p>
</td>
</tr>
<tr>
<td class="ts">11</td>
<td>
<p><b>dict(d)</b></p>
<p>Creates a dictionary. d must be a sequence of (key,value) tuples.</p>
</td>
</tr>
<tr>
<td class="ts">12</td>
<td>
<p><b>frozenset(s)</b></p>
<p>Converts s to a frozen set.</p>
</td>
</tr>
<tr>
<td class="ts">13</td>
<td>
<p><b>chr(x)</b></p>
<p>Converts an integer to a character.</p>
</td>
</tr>
<tr>
<td class="ts">14</td>
<td>
<p><b>unichr(x)</b></p>
<p>Converts an integer to a Unicode character.</p>
</td>
</tr>
<tr>
<td class="ts">15</td>
<td>
<p><b>ord(x)</b></p>
<p>Converts a single character to its integer value.</p>
</td>
</tr>
<tr>
<td class="ts">16</td>
<td>
<p><b>hex(x)</b></p>
<p>Converts an integer to a hexadecimal string.</p>
</td>
</tr>
<tr>
<td class="ts">17</td>
<td>
<p><b>oct(x)</b></p>
<p>Converts an integer to an octal string.</p>
</td>
</tr>
</tbody></table>