# Strings

Strings are amongst the most popular types in Python. We can create them simply by enclosing characters in quotes. Python treats single quotes the same as double quotes. Creating strings is as simple as assigning a value to a variable.

In [2]:
var1 = 'Hello World!'
var2 = "Python Programming"

In [3]:
var1

'Hello World!'

In [4]:
var2

'Python Programming'

## Accessing Values in Strings

Python does not support a character type; these are treated as strings of length one, thus also considered a substring.

To access substrings, use the square brackets for slicing along with the index or indices to obtain your substring.

In [6]:
var1 = 'Hello World!'
var2 = "Python Programming"

print("var1[0]: ", var1[0])
print("var2[1:5]: ", var2[1:5])

var1[0]:  H
var2[1:5]:  ytho

## Updating Strings

You can "update" an existing string by (re)assigning a variable to another string. The new value can be related to its previous value or to a completely different string altogether. However, you **cannot mutate** a string.

Strings can be encapsulated in single (`'`) or double quotes (`"`). They are treated the same.

In [10]:
var1 = 'Hello World!'
print("Updated String :- ", var1[:6] + 'Python')

Updated String :-  Hello Python

Assign new string to variable.

In [11]:
var1 = "Hello Everyone"
var1

'Hello Everyone'

Try to mutate string.

In [12]:
var1[0] = "Y"

TypeError: 'str' object does not support item assignment

## Escape Characters

Following table is a list of escape or non-printable characters that can be represented with backslash notation.

An escape character gets interpreted; in a single quoted as well as double quoted strings.

<table class="table table-bordered" style="text-align:center;">
<tbody><tr>
<th style="text-align:center;">Backslash notation</th>
<th style="text-align:center;">Hexadecimal character</th>
<th class="ts">Description</th>
</tr>
<tr>
<td>\a</td>
<td>0x07</td>
<td>Bell or alert</td>
</tr>
<tr>
<td>\b</td>
<td>0x08</td>
<td>Backspace</td>
</tr>
<tr>
<td>\cx</td>
<td></td>
<td>Control-x</td>
</tr>
<tr>
<td>\C-x</td>
<td></td>
<td>Control-x</td>
</tr>
<tr>
<td>\e</td>
<td>0x1b</td>
<td>Escape</td>
</tr>
<tr>
<td>\f</td>
<td>0x0c</td>
<td>Formfeed</td>
</tr>
<tr>
<td>\M-\C-x</td>
<td></td>
<td>Meta-Control-x</td>
</tr>
<tr>
<td>\n</td>
<td>0x0a</td>
<td>Newline</td>
</tr>
<tr>
<td>\nnn</td>
<td></td>
<td>Octal notation, where n is in the range 0.7</td>
</tr>
<tr>
<td>\r</td>
<td>0x0d</td>
<td>Carriage return</td>
</tr>
<tr>
<td>\s</td>
<td>0x20</td>
<td>Space</td>
</tr>
<tr>
<td>\t</td>
<td>0x09</td>
<td>Tab</td>
</tr>
<tr>
<td>\v</td>
<td>0x0b</td>
<td>Vertical tab</td>
</tr>
<tr>
<td>\x</td>
<td></td>
<td>Character x</td>
</tr>
<tr>
<td style="vertical-align:middle;">\xnn</td>
<td></td>
<td>Hexadecimal notation, where n is in the range 0.9, a.f, or A.F</td>
</tr>
</tbody></table>

## String Special Operators

`+` Concatenation - Adds values on either side of the operator

In [15]:
var1 = "Hello"
var2 = "Python"

var1 + var2

'HelloPython'

`*` Repetition - Creates new strings, concatenating multiple copies of the same string

In [16]:
var1 = "Hello"
var2 = "Python"

var1 * 10

'HelloHelloHelloHelloHelloHelloHelloHelloHelloHello'

`[]` Slice - Gives the character from the given index

In [17]:
var1 = "Hello"

var1[1]

'e'

`[:]` Range Slice - Gives the characters from the given range

In [29]:
var1 = "Hello"

var1[1:4]

'ell'

`in` Membership - Returns true if a character exists in the given string

In [31]:
var1 = "Hello it is Peter"

"Peter" in var1

(True, False)

`not in` Membership - Returns true if a character does not exist in the given string

In [33]:
var1 = "Hello it is Peter"

"Peter" not in var1

False

## String Formatting Operator

One of Python's coolest features is the string format operator %. This operator is unique to strings and makes up for the pack of having functions from C's printf() family.

In [35]:
print("My name is %s and weight is %d kg!" % ('Peter', 21))

My name is Peter and weight is 21 kg!

Here is the list of complete set of symbols which can be used along with `%`

<table class="table table-bordered">
<tbody><tr>
<th width="10%">Sr.No.</th>
<th style="text-align:center;">Format Symbol &amp; Conversion</th>
</tr>
<tr>
<td class="ts">1</td>
<td><p><b>%c</b></p>
<p>character</p></td>
</tr>
<tr>
<td class="ts">2</td>
<td><p><b>%s</b></p>
<p>string conversion via str() prior to formatting</p></td>
</tr>
<tr>
<td class="ts">3</td>
<td><p><b>%i</b></p>
<p>signed decimal integer</p></td>
</tr>
<tr>
<td class="ts">4</td>
<td><p><b>%d</b></p>
<p>signed decimal integer</p></td>
</tr>
<tr>
<td class="ts">5</td>
<td><p><b>%u</b></p>
<p>unsigned decimal integer</p></td>
</tr>
<tr>
<td class="ts">6</td>
<td><p><b>%o</b></p>
<p>octal integer</p></td>
</tr>
<tr>
<td class="ts">7</td>
<td><p><b>%x</b></p>
<p>hexadecimal integer (lowercase letters)</p></td>
</tr>
<tr>
<td class="ts">8</td>
<td><p><b>%X</b></p>
<p>hexadecimal integer (UPPERcase letters)</p></td>
</tr>
<tr>
<td class="ts">9</td>
<td><p><b>%e</b></p>
<p>exponential notation (with lowercase 'e')</p></td>
</tr>
<tr>
<td class="ts">10</td>
<td><p><b>%E</b></p>
<p>exponential notation (with UPPERcase 'E')</p></td>
</tr>
<tr>
<td class="ts">11</td>
<td><p><b>%f</b></p>
<p>floating point real number</p></td>
</tr>
<tr>
<td class="ts">12</td>
<td><p><b>%g</b></p>
<p>the shorter of %f and %e</p></td>
</tr>
<tr>
<td class="ts">13</td>
<td><p><b>%G</b></p>
<p>the shorter of %f and %E</p></td>
</tr>
</tbody></table>

Other supported symbols and functionality are listed in the following table −

<table class="table table-bordered">
<tbody><tr>
<th>Sr.No.</th>
<th style="text-align:center;">Symbol &amp; Functionality</th>
</tr>
<tr>
<td class="ts">1</td>
<td><p><b>*</b></p>
<p>argument specifies width or precision</p></td>
</tr>
<tr>
<td class="ts">2</td>
<td><p><b>-</b></p>
<p>left justification</p></td>
</tr>
<tr>
<td class="ts">3</td>
<td><p><b>+</b></p>
<p>display the sign</p></td>
</tr>
<tr>
<td class="ts">4</td>
<td><p><b>&lt;sp&gt;</b></p>
<p>leave a blank space before a positive number</p></td>
</tr>
<tr>
<td class="ts">5</td>
<td><p><b>#</b></p>
<p>add the octal leading zero ( '0' ) or hexadecimal leading '0x' or '0X', depending on whether 'x' or 'X' were used.</p></td>
</tr>
<tr>
<td class="ts">6</td>
<td><p><b>0</b></p>
<p>pad from left with zeros (instead of spaces)</p></td>
</tr>
<tr>
<td class="ts">7</td>
<td><p><b>%</b></p>
<p>'%%' leaves you with a single literal '%'</p></td>
</tr>
<tr>
<td class="ts">8</td>
<td><p><b>(var)</b></p>
<p>mapping variable (dictionary arguments)</p></td>
</tr>
<tr>
<td class="ts">9</td>
<td><p><b>m.n.</b></p>
<p>m is the minimum total width and n is the number of digits to display after the decimal point (if appl.)</p></td>
</tr>
</tbody></table>

## Triple Quotes

Python's triple quotes comes to the rescue by allowing strings to span multiple lines, including verbatim NEWLINEs, TABs, and any other special characters.

The syntax for triple quotes consists of three consecutive **single** or **double quotes**.

In [38]:
para_str = """this is a long string that is made up of
several lines and non-printable characters such as
TAB ( \t ) and they will show up that way when displayed.
NEWLINEs within the string, whether explicitly given like
this within the brackets [ \n ], or just a NEWLINE within
the variable assignment will also show up.
"""
print(para_str)

this is a long string that is made up of
several lines and non-printable characters such as
TAB ( 	 ) and they will show up that way when displayed.
NEWLINEs within the string, whether explicitly given like
this within the brackets [
 ], or just a NEWLINE within
the variable assignment will also show up.

## Unicode String
In Python 3, all strings are represented in Unicode

### Built-in String Methods
Python includes the following built-in methods to manipulate strings −

`capitalize()` capitalizes first letter of string

In [43]:
var1 = "hello everyone"

var1.capitalize()

'Hello everyone'

`center(width, fillchar)` returns a string padded with fillchar with the original string centered to a total of width columns.

In [50]:
var1 = "hello everyone"

var1.center(60, ".")

'.......................hello everyone.......................'

`count(str, beg = 0,end = len(string))` counts how many times str occurs in string or in a substring of string if starting index beg and ending index end are given.

In [74]:
var1 ="hello everyone"

print(var1.count("ever"))
print(var1.count("e"))

1
4

`startswith(str, beg=0,end=len(string))` determines if string or a substring of string (if starting index beg and ending index end are given) starts with substring str; returns true if so and false otherwise.

`endswith(suffix, beg = 0, end = len(string))` determines if string or a substring of string (if starting index beg and ending index end are given) ends with suffix; returns true if so and false otherwise.

In [82]:
var1 ="hello everyone"

print(var1.startswith("hello"))
print(var1.endswith("one"))

True
True

`find(str, beg = 0 end = len(string))` determine if str occurs in string or in a substring of string if starting index beg and ending index end are given returns index if found and -1 otherwise.

In [72]:
var1 = "hello everyone"

print(var1.find("r"))
print(var1.find("z"))

9
-1

`join(seq)` merges (concatenates) the string representations of elements in sequence seq into a string, with separator string.

In [75]:
var1 = "hello"
var2 = "everyone"
sep = "-"

sep.join([var1, var2])

'hello-everyone'

In [76]:
var1 = "hello"
var2 = "everyone"

"-".join([var1, var2])

'hello-everyone'

`len(string)` returns the length of the string

In [77]:
var1 = "hello"
var2 = "everyone"

print(len(var1))
print(len(var2))

5
8

`lower()` converts all uppercase letters in string to lowercase.

`upper()` converts lowercase letters in string to uppercase.

In [78]:
var1 = "Hello"
var2 = "Everyone"

print(var1.lower())
print(var2.upper())

hello
EVERYONE

`split(str="", num=string.count(str))` splits string according to delimiter str (space if not provided) and returns list of substrings; split into at most num substrings if given.

In [111]:
var1 = "Hello everyone at DPS Bootcamp"

var1.split(" ")

['Hello', 'everyone', 'at', 'DPS', 'Bootcamp']

`replace(old, new [, max])` replaces all occurrences of old in string with new or at most max occurrences if max given.

In [112]:
var1 = "Hello Everyone at DPS Bootcamp"

var1.replace("Hello", "Good morning")

'Good morning Everyone at DPS Bootcamp'

There are many methods we can use with strings. See complete list below.

In [109]:
[i for i in dir("ok this is my string") if '__' not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

What does zfill do? We can check in-built documentation.

In [110]:
var1 = "ok"
var1.zfill?